<ion-view title="Account Activation" id="page8">
  <ion-content padding="true" style="background: url(img/img_umbrella.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <form id="accountActivation-form4" class="list">
      <label class="item item-input" id="accountActivation-input14">
        <span class="input-label">OTP Code</span>
        <input type="text" placeholder="Enter OTP Code">
      </label>
    </form>
    <a ui-sref="tabsController.travelManagement()" id="accountActivation-button5" style="font-weight:600;" class="button button-positive button-block">Activate Account</a>
  </ion-content>
</ion-view>
