<ion-view title="Login" id="page5">
  <ion-content padding="true" style="background: url(img/img_world.png) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form2" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input3">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Login ID">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.trackTravel()" id="login-button2" style="font-weight:600;color:#2B769C;" class="button button-stable button-block icon-left ion-log-in"> Log in</a>
      <a ui-sref="signup()" id="login-button3" style="font-weight:600;color:#1F3E6B;" class="button button-positive button-block button-icon icon-left ion-android-person-add">Or Signup now...</a>
    </form>
  </ion-content>
</ion-view>
