<ion-view title="Signup" id="page6">
  <ion-content padding="true" style="background: url(img/img_umbrella.png) no-repeat center;background-size:cover;" class="has-header">
    <form id="signup-form3" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Full Name">
        </label>
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Alias / Login ID">
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password">
        </label>
        <label class="item item-input" id="signup-input8">
          <span class="input-label">Conf. Pass</span>
          <input type="password" placeholder="Confirm Password">
        </label>
        <label class="item item-input" id="signup-input10">
          <span class="input-label">Phone #</span>
          <input type="tel" placeholder="Phone Number">
        </label>
        <label class="item item-input" id="signup-input11">
          <span class="input-label">Age</span>
          <input type="number" placeholder="Your Age">
        </label>
        <label class="item item-input" id="signup-input9">
          <span class="input-label">Email ID</span>
          <input type="email" placeholder="Email Address">
        </label>
        <label class="item item-input" id="signup-input12">
          <span class="input-label">Country</span>
          <input type="text" placeholder="Country of Citizenship">
        </label>
        <label class="item item-input" id="signup-input13">
          <span class="input-label">State / City</span>
          <input type="text" placeholder="City &amp; State">
        </label>
        <label class="item item-input" id="signup-input17">
          <span class="input-label">Emergency Contact</span>
          <input type="text" placeholder="Phone Number">
        </label>
        <label class="item item-input" id="signup-input18">
          <span class="input-label">Emergency Email</span>
          <input type="text" placeholder="Email Address">
        </label>
      </ion-list>
      <a ui-sref="accountActivation()" id="signup-button4" style="color:#3A7292;" class="button button-stable button-block icon-left ion-android-cloud-done">Sign up</a>
    </form>
  </ion-content>
</ion-view>
