<ion-view title="Travel Management" id="page3">
  <ion-content padding="true" style="background: url(img/img_umbrella.png) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="tabsController.myTravelReport()" id="travelManagement-button16" class="button button-positive button-block">My Travel Plans</a>
    <a ui-sref="tabsController.createTravelPlan()" id="travelManagement-button13" class="button button-positive button-block">Create Travel Plan</a>
    <a ui-sref="tabsController.sendTravelInvitations()" id="travelManagement-button17" class="button button-positive button-block">Send Travel Invitations</a>
    <a ui-sref="tabsController.editTravelPlan()" id="travelManagement-button14" class="button button-positive button-block">Edit Travel Plan</a>
    <a ui-sref="tabsController.removeTravelPlan()" id="travelManagement-button15" class="button button-positive button-block">Remove Travel Plan</a>
  </ion-content>
</ion-view>
