<ion-view title="About the App" id="page9">
  <ion-content padding="true" style="background: url(img/img_world.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <div id="aboutTheApp-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#7A1B1B;">This application is meant for tracking your partner, friends and family members when you are travelling to a remote or unknown place. This app can be further enhanced with more features but in order to do that we need your support and suggestions.
        Please feel free to send us an email. Enjoy the app and happy travelling.....</p>
    </div>
  </ion-content>
</ion-view>
