<ion-view title="Report Issue" id="page10">
  <ion-content padding="true" style="background: url(img/img_umbrella.png) no-repeat center;background-size:cover;" class="has-header">
    <form id="reportIssue-form5" class="list">
      <label class="item item-input" id="reportIssue-input15">
        <span class="input-label">Subject</span>
        <input type="text" placeholder="Message Subject">
      </label>
      <label class="item item-input" id="reportIssue-input16">
        <span class="input-label">Email ID</span>
        <input type="email" placeholder="Your Email ID here">
      </label>
      <label class="item item-input" id="reportIssue-textarea2">
        <span class="input-label">Message Body</span><textarea placeholder="Message Body goes here....."></textarea></label>
    </form>
    <a ui-sref="tabsController.trackTravel()" id="reportIssue-button12" class="button button-positive button-block">Send Mail</a>
  </ion-content>
</ion-view>
